In [2]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('oil_raw.csv')

In [ ]:
#you can fill na with df.fillna, there are several options such as ffill and bfill
DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)

In [16]:
df.isna().any(axis=1).sum()
#isna and isnull give the same result
#axis = 1 means checking rows

76

In [17]:
df[df.isna().any(axis=1)]

,Methode,Porosität_%,Druchlässigkeit_mD,Tiefe_m,Dichte_API,Viskosität_cP,Temp_C,Sättigung_%
76,Dampf,30.0,1550.0,213.36,13.0,NaN,29.444444,45.000000
100,Dampf,35.0,3000.0,426.72,16.0,312.00000,33.333333,NaN
106,Dampf,35.0,3000.0,365.76,12.0,4764.25119,NaN,59.590647
107,Dampf,35.0,3000.0,518.16,12.0,4764.25119,NaN,59.590647
108,Dampf,35.0,3000.0,365.76,12.0,4764.25119,NaN,59.590647
...,...,...,...,...,...,...,...,...
2824,Kohlendioxid,14.0,76.0,914.40,37.0,1.33000,NaN,46.730000
2832,Kohlendioxid,7.0,10.0,2133.60,35.0,1.33000,NaN,46.730000
2939,Verbrennung,32.0,650.0,121.92,19.0,660.00000,NaN,94.000000
3029,Kohlendioxid,7.0,10.0,2133.60,35.0,1.32000,NaN,51.000000
3078,Kohlenwasserstoff,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.dropna(how='all')
#this means that drop all rows with even 1 missing value

df.dropna(thresh=2)
#keep only the rows with at least 2 non-NA values

In [18]:
df.dtypes

Methode                object
Porosität_%           float64
Druchlässigkeit_mD    float64
Tiefe_m               float64
Dichte_API            float64
Viskosität_cP         float64
Temp_C                float64
Sättigung_%           float64
dtype: object

## One Hot Encoding

In [20]:
pd.get_dummies(df.Methode, prefix='_')

      __Dampf  __Kohlendioxid  __Kohlenwasserstoff  __Polymer  __Verbrennung
0           1               0                    0          0              0
1           1               0                    0          0              0
2           1               0                    0          0              0
3           1               0                    0          0              0
4           1               0                    0          0              0
...       ...             ...                  ...        ...            ...
3086        0               0                    1          0              0
3087        0               0                    1          0              0
3088        0               0                    1          0              0
3089        0               0                    1          0              0
3090        0               0                    1          0              0

[3091 rows x 5 columns]

## Label Encoding - order given

In [21]:
df.Methode.unique()

array(['Dampf', 'Verbrennung', 'Kohlendioxid', 'Polymer',
       'Kohlenwasserstoff'], dtype=object)

In [23]:
dict_classes = {'Dampf':0, 'Verbrennung':1, 'Kohlendioxid':2, 
                'Polymer':3, 'Kohlenwasserstoff':4}
dict_classes

{'Dampf': 0,
 'Verbrennung': 1,
 'Kohlendioxid': 2,
 'Polymer': 3,
 'Kohlenwasserstoff': 4}

In [24]:
df.Methode.map(dict_classes)

0       0
1       0
2       0
3       0
4       0
       ..
3086    4
3087    4
3088    4
3089    4
3090    4
Name: Methode, Length: 3091, dtype: int64

In [25]:
df['Methode_encoded'] = df.Methode.map(dict_classes)

In [26]:
df

,Methode,Porosität_%,Druchlässigkeit_mD,Tiefe_m,Dichte_API,Viskosität_cP,Temp_C,Sättigung_%,Methode_encoded
0,Dampf,32.0,1675.0,365.760,12.0,2000.00,37.777778,59.590647,0
1,Dampf,32.0,2500.0,426.720,14.0,1500.00,37.777778,59.590647,0
2,Dampf,32.0,1000.0,304.800,13.0,1500.00,37.777778,59.590647,0
3,Dampf,35.0,1600.0,630.936,13.9,1270.00,40.555556,59.590647,0
4,Dampf,32.0,3030.0,320.040,14.0,1500.00,35.000000,59.590647,0
...,...,...,...,...,...,...,...,...,...
3086,Kohlenwasserstoff,26.0,1250.0,3048.000,38.0,0.50,82.222222,68.000000,4
3087,Kohlenwasserstoff,26.0,1000.0,3352.800,38.0,0.70,73.888889,68.000000,4
3088,Kohlenwasserstoff,24.0,275.0,1828.800,24.0,2.00,71.111111,75.000000,4
3089,Kohlenwasserstoff,21.0,20.0,1584.960,37.0,0.60,61.111111,65.000000,4
3090,Kohlenwasserstoff,19.0,20.0,2133.600,40.0,0.45,71.111111,80.000000,4

In [27]:
df.columns

Index(['Methode', 'Porosität_%', 'Druchlässigkeit_mD', 'Tiefe_m', 'Dichte_API',
       'Viskosität_cP', 'Temp_C', 'Sättigung_%', 'Methode_encoded'],
      dtype='object')

In [28]:
#change the order of yhe columns
df = df.reindex(['Methode', 'Methode_encoded','Porosität_%', 'Druchlässigkeit_mD', 'Tiefe_m', 'Dichte_API',
       'Viskosität_cP', 'Temp_C', 'Sättigung_%'], axis=1)
df

,Methode,Methode_encoded,Porosität_%,Druchlässigkeit_mD,Tiefe_m,Dichte_API,Viskosität_cP,Temp_C,Sättigung_%
0,Dampf,0,32.0,1675.0,365.760,12.0,2000.00,37.777778,59.590647
1,Dampf,0,32.0,2500.0,426.720,14.0,1500.00,37.777778,59.590647
2,Dampf,0,32.0,1000.0,304.800,13.0,1500.00,37.777778,59.590647
3,Dampf,0,35.0,1600.0,630.936,13.9,1270.00,40.555556,59.590647
4,Dampf,0,32.0,3030.0,320.040,14.0,1500.00,35.000000,59.590647
...,...,...,...,...,...,...,...,...,...
3086,Kohlenwasserstoff,4,26.0,1250.0,3048.000,38.0,0.50,82.222222,68.000000
3087,Kohlenwasserstoff,4,26.0,1000.0,3352.800,38.0,0.70,73.888889,68.000000
3088,Kohlenwasserstoff,4,24.0,275.0,1828.800,24.0,2.00,71.111111,75.000000
3089,Kohlenwasserstoff,4,21.0,20.0,1584.960,37.0,0.60,61.111111,65.000000
3090,Kohlenwasserstoff,4,19.0,20.0,2133.600,40.0,0.45,71.111111,80.000000