In [7]:
import pandas as pd

In [30]:
data = pd.read_csv('oil_raw.csv')

In [31]:
data.tail()

,Methode,Porosität_%,Druchlässigkeit_mD,Tiefe_m,Dichte_API,Viskosität_cP,Temp_C,Sättigung_%
3086,Kohlenwasserstoff,26.0,1250.0,3048.00,38.0,0.50,82.222222,68.0
3087,Kohlenwasserstoff,26.0,1000.0,3352.80,38.0,0.70,73.888889,68.0
3088,Kohlenwasserstoff,24.0,275.0,1828.80,24.0,2.00,71.111111,75.0
3089,Kohlenwasserstoff,21.0,20.0,1584.96,37.0,0.60,61.111111,65.0
3090,Kohlenwasserstoff,19.0,20.0,2133.60,40.0,0.45,71.111111,80.0

## Missing values

In [13]:
data.isna().any(axis=1).sum()

76

In [14]:
len(data)

3091

In [15]:
data.isna().any(axis=1).sum() / len(data)

0.024587512131996118

In [16]:
data[data.isna().any(axis=1)].tail(20)

,Methode,Porosität_%,Druchlässigkeit_mD,Tiefe_m,Dichte_API,Viskosität_cP,Temp_C,Sättigung_%
1734,Kohlendioxid,7.0,10.0,2133.600,35.0,NaN,50.555556,48.00
1737,Kohlendioxid,21.8,23.7,1371.600,40.5,NaN,36.111111,40.30
1738,Kohlendioxid,11.6,32.0,1280.160,38.0,NaN,50.555556,48.00
1780,Kohlendioxid,8.4,1.5,1584.960,32.0,1.46,41.666667,NaN
1833,Dampf,26.0,4000.0,246.888,13.0,NaN,32.777778,70.00
1881,Verbrennung,32.0,650.0,121.920,19.0,660.00,NaN,94.00
2007,Verbrennung,32.0,650.0,121.920,19.0,660.00,NaN,94.00
2018,Kohlendioxid,10.0,4.0,1524.000,31.0,NaN,42.222222,51.00
2142,Kohlendioxid,10.0,4.0,1524.000,31.0,NaN,42.222222,48.34
2253,Dampf,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2291,Kohlendioxid,NaN,75.0,3215.640,40.0,1.00,120.000000,NaN
2303,Kohlendioxid,7.0,10.0,2133.600,35.0,1.00,NaN,43.00
2343,Kohlendioxid,11.6,32.0,1280.160,35.0,NaN,NaN,43.00
2641,Kohlendioxid,14.0,41.0,914.400,37.0,1.72,NaN,48.48
2649,Kohlendioxid,7.0,10.0,2133.600,35.0,1.72,NaN,47.48
2824,Kohlendioxid,14.0,76.0,914.400,37.0,1.33,NaN,46.73
2832,Kohlendioxid,7.0,10.0,2133.600,35.0,1.33,NaN,46.73
2939,Verbrennung,32.0,650.0,121.920,19.0,660.00,NaN,94.00
3029,Kohlendioxid,7.0,10.0,2133.600,35.0,1.32,NaN,51.00
3078,Kohlenwasserstoff,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.dropna(inplace=True)

In [18]:
data.isna().sum()

Methode               0
Porosität_%           0
Druchlässigkeit_mD    0
Tiefe_m               0
Dichte_API            0
Viskosität_cP         0
Temp_C                0
Sättigung_%           0
dtype: int64

## Correct data types

In [19]:
data.dtypes

Methode                object
Porosität_%           float64
Druchlässigkeit_mD    float64
Tiefe_m               float64
Dichte_API            float64
Viskosität_cP         float64
Temp_C                float64
Sättigung_%           float64
dtype: object

### One Hot Encoding (NOMINAL)

In [20]:
pd.get_dummies(data.Methode, prefix='method')

,method_Dampf,method_Kohlendioxid,method_Kohlenwasserstoff,method_Polymer,method_Verbrennung
0,1,0,0,0,0
1,1,0,0,0,0
2,1,0,0,0,0
3,1,0,0,0,0
4,1,0,0,0,0
...,...,...,...,...,...
3086,0,0,1,0,0
3087,0,0,1,0,0
3088,0,0,1,0,0
3089,0,0,1,0,0
3090,0,0,1,0,0

### Label Encoding - order given (ORDINAL)

In [ ]:
data.Methode.unique()

array(['Dampf', 'Verbrennung', 'Kohlendioxid', 'Polymer',
       'Kohlenwasserstoff'], dtype=object)

In [ ]:
dict_classes = {'Dampf': 0, 'Verbrennung': 1, 'Kohlendioxid': 2, 'Polymer': 3, 'Kohlenwasserstoff': 4}

In [ ]:
data.Methode.map(dict_classes)

0       0
1       0
2       0
3       0
4       0
       ..
3086    4
3087    4
3088    4
3089    4
3090    4
Name: Methode, Length: 3015, dtype: int64

# Enconding

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
le = LabelEncoder()

In [34]:
le.fit(data.Methode)
le.fit_transform(data.Methode)

AttributeError: module 'numpy' has no attribute 'matrix'